@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
* {
  margin: 0;
  font-family: "lato";
}
body {
  background-color: #eaf4d3;
}
html {
  height: auto;
}

/* HEADER */
header nav {
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  padding-left: 70px;
  padding-right: 70px;
}
/* bendera */
.navbar .bahasa img {
  width: 25px;
  height: auto;
  border: solid 1px black;
  border-radius: 25%;
}
.navbar ul li {
  list-style: none;
  font-size: 20px;
}
.navbar ul li:hover {
  color: #d5b263;
}
/* Nama Website */
nav .logo img {
  width: 400px;
  height: auto;
}
/* /HEADER */

/* ISI */
.judul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 70px;
}
.deskripsi-kul {
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
}
.isi {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  overflow: hidden;
  max-height: 133vh;
}
.isi-kuliner {
  margin: 20px;
  padding: 5px;
  overflow: hidden;
}
.backbut {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 20%;
}
.backbut:hover {
  color: blue;
  border-color: blue;
}
.kiri {
  flex: 1;
  margin-right: 10px;
}
.kiri p {
  text-align: justify;
  line-height: 23px;
}
.kanan {
  flex: 1.4;
  margin-left: 10px;
  width: 100%;
  overflow: hidden;
}
.kanan-wisata {
  flex: 1.2;
  margin-left: 30px;
  width: 100%;
  overflow: hidden;
}
.kanan .slide-control {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  justify-content: space-between;
  border-bottom: 2px solid black;
}
.slide-control .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-control label.kuliner {
  color: black;
}
.slide-control .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-bottom: 5px solid #d5b263;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input[type="radio"] {
  display: none;
}
#kuliner:checked ~ .slider-tab {
  left: 50%;
}
#kuliner:checked ~ label.kuliner {
  color: #d5b263;
  font-weight: 700;
  cursor: default;
  user-select: none;
}
#kuliner:checked ~ label.wisata {
  color: #000;
}
#wisata:checked ~ label.kuliner {
  color: #000;
}
#wisata:checked ~ label.wisata {
  color: #d5b263;
  font-weight: 700;
  cursor: default;
  user-select: none;
}
.pilihan {
  width: 200%;
  max-height: 95%;
}
.pilihan form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.pilihan form.wisata {
  overflow-y: scroll;
}
.wisata1 img,
.wisata2 img,
.wisata3 img,
.wisata4 img,
.wisata5 img,
.wisata6 img,
.wisata7 img,
.wisata8 img {
  width: 350px;
  height: 350px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.wisata1,
.wisata2,
.wisata3,
.wisata4,
.wisata5,
.wisata6,
.wisata7,
.wisata8 {
  background-color: white;
  margin-bottom: 40px;
  text-decoration: none;
  border-radius: 20px;
  padding-bottom: 20px;
  color: #000;
  border: 1px solid black;
}
.kuliner1 img,
.kuliner2 img,
.kuliner3 img,
.kuliner4 img,
.kuliner5 img,
.kuliner6 img,
.kuliner7 img,
.kuliner8 img {
  width: 350px;
  height: 350px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
}
.kuliner1,
.kuliner2,
.kuliner3,
.kuliner4,
.kuliner5,
.kuliner6,
.kuliner7,
.kuliner8 {
  background-color: white;
  margin-bottom: 40px;
  text-decoration: none;
  border-radius: 20px;
  padding-bottom: 20px;
  color: #000;
  border: 1px solid black;
}
.pilihan form.kuliner {
  overflow-y: scroll;
}
.wisata1:hover,
.wisata2:hover,
.wisata3:hover,
.wisata4:hover,
.wisata5:hover,
.wisata6:hover,
.wisata7:hover,
.wisata8:hover {
  filter: brightness(75%);
  transition: 0.5s;
}
.kuliner1:hover,
.kuliner2:hover,
.kuliner3:hover,
.kuliner4:hover,
.kuliner5:hover,
.kuliner6:hover,
.kuliner7:hover,
.kuliner8:hover {
  filter: brightness(75%);
  transition: 0.5s;
}
/* isi wisata pilihan */
.foto1 img,
.foto2 img,
.foto3 img,
.foto4 img,
.foto5 img,
.foto6 img,
.foto7 img,
.foto8 img {
  width: 750px;
  height: 525px;
  object-fit: fill;
}
.foto1,
.foto2,
.foto3,
.foto4,
.foto5,
.foto6,
.foto7,
.foto8 {
  margin-bottom: 35px;
  text-decoration: none;
  border: 2px solid black;
}
/* /isi wisata pilhan */
/* /ISI */

/* FOOTER */
footer {
  background-color: #ba9b57;
  color: white;
  font-weight: bold;
  padding: 30px;
}
/* /FOOTER */
